In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
print(np.__version__)

1.16.5

In [3]:

dataset = pd.read_csv('Social_Network_Ads.csv')

In [4]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
indep=dataset[['Age', 'EstimatedSalary','Gender_Male']]
dep=dataset['Purchased']

In [7]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_= sc.fit_transform(X_train)
X_test_= sc.transform(X_test)

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [10]:
#https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter

In [11]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]} 



grid = GridSearchCV(RandomForestClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1') 
   
# fitting the model for grid search 
grid.fit(X_train_, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             scoring='f1', verbose=3)

In [12]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test_) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [13]:
print(grid.best_params_)

{'criterion': 'gini', 'max_features': 'sqrt', 'n_estimators': 100}

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.023673,0.013030,0.004114,0.001912,gini,auto,10,"{'criterion': 'gini', 'max_features': 'auto', ...",0.764706,0.864865,0.809524,0.871795,0.882353,0.838648,0.044748,9
1,0.214603,0.046829,0.031063,0.021505,gini,auto,100,"{'criterion': 'gini', 'max_features': 'auto', ...",0.800000,0.820513,0.809524,0.900000,0.923077,0.850623,0.050688,5
2,0.015708,0.003103,0.004370,0.002268,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.764706,0.842105,0.809524,0.900000,0.888889,0.841045,0.050174,7
3,0.122746,0.007782,0.013410,0.002353,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.800000,0.850000,0.809524,0.900000,0.947368,0.861378,0.055627,1
4,0.015864,0.002515,0.003107,0.001011,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.764706,0.842105,0.809524,0.900000,0.882353,0.839738,0.048981,8
5,0.122442,0.010924,0.016563,0.004376,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",0.764706,0.871795,0.809524,0.900000,0.947368,0.858679,0.064796,2
6,0.015231,0.001908,0.004515,0.002204,entropy,auto,10,"{'criterion': 'entropy', 'max_features': 'auto...",0.727273,0.789474,0.780488,0.871795,0.857143,0.805234,0.053035,12
7,0.170559,0.030474,0.018271,0.002671,entropy,auto,100,"{'criterion': 'entropy', 'max_features': 'auto...",0.764706,0.820513,0.809524,0.926829,0.947368,0.853788,0.070844,4
8,0.022571,0.001854,0.006592,0.002488,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.833333,0.764706,0.800000,0.900000,0.848485,0.829305,0.045637,11
9,0.157547,0.020290,0.023093,0.011189,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.800000,0.810811,0.809524,0.900000,0.918919,0.847851,0.050795,6
10,0.022785,0.007661,0.002405,0.000486,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.764706,0.810811,0.809524,0.871795,0.918919,0.835151,0.053984,10
11,0.128322,0.038518,0.011186,0.004498,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.764706,0.871795,0.809524,0.900000,0.947368,0.858679,0.064796,2

In [16]:

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'gini', 'max_features': 'sqrt', 'n_estimators': 100}: 0.9256751954513147

In [17]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[79  6]
 [ 4 45]]

In [18]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.95      0.93      0.94        85
           1       0.88      0.92      0.90        49

    accuracy                           0.93       134
   macro avg       0.92      0.92      0.92       134
weighted avg       0.93      0.93      0.93       134

In [24]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

C:\Users\thiru\Anaconda3\lib\site-packages\sklearn\base.py:444: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

0.49039615846338536

In [25]:
Age_input=float(input("Age:"))
EstimatedSalary_input=float(input("EstimatedSalary:"))
Gender_Male_input=int(input("Gender_Male 0 or 1:"))

Age:25
EstimatedSalary:30000
Gender_Male 0 or 1:0

In [26]:
Future_Prediction=grid.predict([[Age_input,EstimatedSalary_input,Gender_Male_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[1]

     Age  Gender_male  Estimated_Salary  Actual  Predicted
132   30            1             87000       0          0
309   38            0             50000       0          0
341   35            1             75000       0          0
196   30            0             79000       0          0
246   35            0             50000       0          0
..   ...          ...               ...     ...        ...
168   29            1            148000       1          1
150   26            0             15000       0          0
393   60            1             42000       1          1
66    24            1             19000       0          0
240   42            1            149000       1          1

[134 rows x 5 columns]

In [23]:
table_pr.to_csv("cm.csv",index=False)